* {
    margin: 0;
    background-color: #FFF8DC;
    font-size: 18px;
}

img {
    width: 200px;
    height: auto;
    float: left;
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8px;
    padding: 5px;
    text-align: center;
}

.listing {
    background-color: #F0EAD6;
    padding: 8px;
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.description {
    background-color: #F0EAD6;
    font-family: serif;
}

.item {
    clear:left;
}

.recipe-name {
    border: solid 4px #FFFDD0;
    font-weight: bold;
    font-size: 28px;
    background-color: #F0EAD6;
}
